<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ics.system.mapper.SysAuthorityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ics.system.model.SysAuthority">
		<id column="id" property="id" />
		<result column="authority_name" property="authorityName" />
		<result column="authority_code" property="authorityCode" />
		<result column="authority_type" property="authorityType" />
		<result column="authority_order" property="authorityOrder" />
		<result column="authority_parent_id" property="authorityParentId" />
		<result column="authority_url" property="authorityUrl" />
		<result column="authority_image" property="authorityImage" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, authority_name AS authorityName, authority_code AS authorityCode, authority_type AS authorityType, authority_order AS authorityOrder, authority_parent_id AS authorityParentId, authority_url AS authorityUrl, authority_image as authorityImage, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
