<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ics.system.mapper.SysConfigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ics.system.model.SysConfig">
		<id column="id" property="id" />
		<result column="config_key" property="configKey" />
		<result column="config_value" property="configValue" />
		<result column="flag" property="flag" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, config_key AS configKey, config_value AS configValue, flag, remark, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
