<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ics.system.mapper.SysDictionaryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ics.system.model.SysDictionary">
		<id column="id" property="id" />
		<result column="dict_code" property="dictCode" />
		<result column="dict_name" property="dictName" />
		<result column="is_delete_enable" property="isDeleteEnable" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dict_code AS dictCode, dict_name AS dictName, is_delete_enable AS isDeleteEnable, remark, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
